{% extends "glasgo/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    Add Attraction
{% endblock %}

{% block content %}
    <form name="add_attraction"
          class="form-signin"
          role="form"
          method="post"
          action="{% url 'glasgo:add' %}"
          enctype="multipart/form-data">
        {% csrf_token %}

        <div class="text-center mb-4">
            <h1 class="h3 mb-3 font-weight-normal">Add an Attraction</h1>
            <p>Your submission will be reviewed by an admin before being added to the public gallery.</p>
        </div>

        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        <div class="form-label-group">
            {% render_field form.title class="form-control" placeholder="Title" %}
            {{ form.title.label_tag }}
        </div>
        <div class="form-label-group">
            {% render_field form.link class="form-control" placeholder="Website" %}
            {{ form.link.label_tag }}
        </div>
        <div class="form-group">
            <div class="custom-file">
                {% render_field form.image class="custom-file-input" %}
                <label class="custom-file-label" for="{{ form.image.id_for_label }}">Image</label>
            </div>
        </div>
        <div class="form-label-group">
            {% render_field form.description class="form-control" placeholder="Description" rows="4" %}
            {{ form.description.label_tag }}
        </div>
        <div class="form-label-group">
            {% render_field form.location class="form-control" placeholder="Location" rows="4" %}
            {{ form.location.label_tag }}
        </div>
        <div class="form-group">
            {{ form.price_range.label_tag }}
            {% for choice in form.price_range.field.choices %}
                <br/>
                {% if choice.1 == "Free" %}
                    <input type="radio"
                           value="{{ choice.0 }}"
                           id="{{ choice.1 }}"
                           name="price_range"
                           checked> {{ choice.1 }}</input>
                {% else %}
                    <input type="radio"
                           value="{{ choice.0 }}"
                           id="{{ choice.1 }}"
                           name="price_range"> {{ choice.1 }}</input>
                {% endif %}
                {{ choice.choice_label }}
            {% endfor %}
        </div>
        <br/>
        <div class="form-group">
            <label style="padding-right: 1.5rem">Accessibility:</label>
            <br/>
            <div class="custom-control custom-checkbox">
                {% render_field form.family_friendly class="custom-control-input" %}
                <label class="custom-control-label" for="{{ form.family_friendly.id_for_label }}">
                    Is this attraction family-friendly?
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="custom-control custom-checkbox">
                {% render_field form.disabled_access class="custom-control-input" %}
                <label class="custom-control-label" for="{{ form.disabled_access.id_for_label }}">
                    Is there disabled access?
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="custom-control custom-checkbox">
                {% render_field form.parking class="custom-control-input" %}
                <label class="custom-control-label" for="{{ form.parking.id_for_label }}">
                    Is there parking nearby?
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="custom-control custom-checkbox">
                {% render_field form.multi_language class="custom-control-input" %}
                <label class="custom-control-label" for="{{ form.multi_language.id_for_label }}">
                    Is information available in multiple languages?
                </label>
            </div>
        </div>

        <!-- TODO: Make these date pickers bootstrappy -->


        <div class="form-group">
            {{ form.tags.label_tag }}
            {% for tag in form.tags.field.choices %}
                {% if tag.1 != "Free" and tag.1 != "Cheap" and tag.1 != "Moderate" and tag.1 != "Expensive" and tag.1 != "Family-friendly" and tag.1 != "Disabled Access" and tag.1 != "Parking" and tag.1 != "Multi-language" %}
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="tags" value="{{ tag.0 }}" id="{{ tag.0 }}">
                        <label class="custom-control-label" for="{{ tag.0 }}">
                            {{ tag.1 }}
                        </label>
                    </div>
                {% endif %}
            {% endfor %}


        </div>

        <div class="text-center">
            <button class="btn btn-primary" type="submit" name="submit">Submit</button>
        </div>
    </form>
{% endblock %}