{% extends "glasgo/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    Add Attraction
{% endblock %}

{% block content %}
    <form name="add_attraction"
          class="form-signin"
          role="form"
          method="post"
          action="{% url 'glasgo:add' %}"
          enctype="multipart/form-data">
        {% csrf_token %}

        <div class="text-center mb-4">
            <h1 class="h3 mb-3 font-weight-normal">Add an Attraction</h1>
            <p>Your submission will be reviewed by an admin before being added to the public gallery.</p>
        </div>

        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        <div class="form-label-group">
            {% render_field form.title class="form-control" placeholder="Title" %}
            {{ form.title.label_tag }}
        </div>
        <div class="form-label-group">
            {% render_field form.link class="form-control" placeholder="Website" %}
            {{ form.link.label_tag }}
        </div>
        <div class="form-group">
            <div class="custom-file">
                {% render_field form.image class="custom-file-input" %}
                <label class="custom-file-label" for="{{ form.image.id_for_label }}">Image</label>
            </div>
        </div>
        <div class="form-label-group">
            {% render_field form.description class="form-control" placeholder="Description" rows="4" %}
            {{ form.description.label_tag }}
        </div>
        <div class="form-label-group">
            {% render_field form.location class="form-control" placeholder="Location" rows="4" %}
            {{ form.location.label_tag }}
        </div>
        <div class="form-group">
            {{ form.price_range.label_tag }}
            {% render_field form.price_range class="custom-select" %}
            <!-- TODO:Get this working with radio buttons -->
{#            <label style="padding-right: 1.5rem">Price Range</label>#}
{#            {% for choice in form.price_range.field.choices %}#}
{#                <div class="custom-control custom-radio custom-control-inline">#}
{#                    <input type="radio"#}
{#                           id="{{ choice.1 }}"#}
{#                           name="price_range"#}
{#                           class="custom-control-input">#}
{#                    <label class="custom-control-label" for="{{ choice.1 }}">{{ choice.1 }}</label>#}
{#                </div>#}
{#            {% endfor %}#}
        </div>
        <div class="form-group">
            <div class="custom-control custom-checkbox">
                {% render_field form.family_friendly class="custom-control-input" %}
                <label class="custom-control-label" for="{{ form.family_friendly.id_for_label }}">
                    Is this attraction family-friendly?
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="custom-control custom-checkbox">
                {% render_field form.disabled_access class="custom-control-input" %}
                <label class="custom-control-label" for="{{ form.disabled_access.id_for_label }}">
                    Is there disabled access?
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="custom-control custom-checkbox">
                {% render_field form.parking class="custom-control-input" %}
                <label class="custom-control-label" for="{{ form.parking.id_for_label }}">
                    Is there parking nearby?
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="custom-control custom-checkbox">
                {% render_field form.multi_language class="custom-control-input" %}
                <label class="custom-control-label" for="{{ form.multi_language.id_for_label }}">
                    Is information available in multiple languages?
                </label>
            </div>
        </div>
        <!-- TODO: Make these date pickers bootstrappy -->
        <div class="form-group">
            {{ form.starts.label_tag }}
            {% render_field form.starts type="datetime-local" %}
        </div>
        <div class="form-group">
            {{ form.ends.label_tag }}
            {% render_field form.ends type="datetime-local" %}
        </div>
        <div class="form-group">
            <label for="tags">Tags:</label>
            <select class="custom-select" id="tags" name="tags" multiple required>
                {% for tag in form.tags.field.choices %}
                    <option value={{ tag.0 }}>{{ tag.1 }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="text-center">
            <button class="btn btn-primary" type="submit" name="submit">Submit</button>
        </div>
    </form>
{% endblock %}