{% if attractions %}
    <div class="list-group">
        <!-- Iterate through all the attractions and display them -->
        {% for attraction in attractions %}
            <a class="list-group-item list-group-item-action"
               href="{% url 'glasgo:attraction' attraction.slug %}">
                <div class="row">
                    <div class="col4" style="padding-left: 0.5rem">
                        <!-- Attraction Image -->
                        <div class="thumbnail-300-200">
                            <img src="{{ attraction.image.url }}"
                                 alt="Image of {{ attraction.title }}"/>
                        </div>
                    </div>
                    <div class="col" style="display: flex; flex-direction: column">
                        <!-- Attraction Title and Rating -->
                        <div class="row mb-1">
                            <div class="col">
                                <h2 class="mb-1">{{ attraction.title }}</h2>
                            </div>
                            <div class="col1 rating">
                                {{ attraction.rating }} point{{ attraction.rating|pluralize }}
                            </div>
                        </div>
                        <!-- Attraction Description -->
                        <div class="row mb-1">
                            <div class="col description-snippet">
                                {{ attraction.description }}
                            </div>
                        </div>

                        <!-- If the attraction is an event display the Start & End Times -->
                        <div class="row mb-1">
                            <div class="col">
                                {% if attraction.starts %}
                                    Starts: {{ attraction.starts }}
                                {% endif %}
                            </div>

                            <div class="col">
                                {% if attraction.ends %}
                                    Ends: {{ attraction.ends }}
                                {% endif %}
                            </div>
                        </div>

                        <!-- Attraction Tags and time since it was uploaded -->
                        <div class="row mb-1" style="margin-top: auto">
                            <div class="col">
                                <ul class="list-group list-group-horizontal-sm">
                                    {% for tag in attraction.tags.all %}
                                        <li class="list-group-item tag-list-item">
                                            {{ tag.name }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col2 date">
                                <div style="margin-top: auto">
                                    {{ attraction.time_since_added }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% else %}
    There are no attractions for the current search terms.
    Would you like to <a href="{% url 'glasgo:add' %}">add one</a>?
{% endif %}