{% if attractions %}
    <div class="list-group">
        {% for attraction in attractions %}
{#            <div class="list-group-item">#}
                <a class="list-group-item list-group-item-action"
                   href="{% url 'glasgo:attraction' attraction.slug %}">
                    <div class="row">
                        <div class="col4">
                            <div class="thumbnail-300-200">
                                <img src="{{ attraction.image.url }}"
                                     alt="Image of {{ attraction.title }}"/>
                            </div>
                        </div>
                        <div class="col">
                            <div class="d-flex w-100 justify-content-between">
                                <div>
                                    <h2 class="mb-1">{{ attraction.title }}</h2>
                                    <p class="mb-1">
                                        {{ attraction.description }}
                                    </p>
                                    <ul class="list-group list-group-horizontal-sm">
                                        {% for tag in attraction.tags.all %}
                                            <!-- TODO: Make these links to search for that tag. -->
                                            <li class="list-group-item">
                                                {{ tag.name }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    <span class="date">{{ attraction.time_since_added }}</span>
                                </div>
                                <div class="col">
                                    <span class="mb-5">{{ attraction.rating }}</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </a>
{#            </div>#}
        {% endfor %}
    </div>
{% else %}
    There are no attractions for the current search terms.
    Would you like to <a href="{% url 'glasgo:add' %}">add one</a>?
{% endif %}