<!DOCTYPE html>
{% load static %}
{% load glasgo_template_tags %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block meta %}{% endblock %} <!-- Needed for the inbuilt redux templates to work -->
    <link rel="icon" href="{% static 'icons/favicon.ico' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'icons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'icons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'icons/site.webmanifest' %}">
    <!-- Title Block -->
    <title>GlasGo - {% block title %}Welcome{% endblock %}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'stylesheets/jquery.datetimepicker.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'stylesheets/floating-labels.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'stylesheets/glasgo.css' %}" type="text/css">
</head>

<body style="padding-top: 60px">

<header>
    <!-- Navbar -->
    <nav id="top-navbar"
         class="navbar navbar-expand-md navbar-light fixed-top p-0"
         style="background-color: #92628D">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Left of Navbar -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="nav navbar-nav p-2">
                <!-- GlasGo logo (links to Home page) -->
                <a class="navbar-brand pt-0 pb-0" href="{% url 'glasgo:home' %}">
                    <img src="{% static 'images/logo.png' %}" alt="GlasGo" height="40">
                </a>

                <!-- Link to Home page -->
                <li><a class="nav-link" href="{% url 'glasgo:home' %}">Home</a></li>

                <!-- Link to Search page -->
                <li><a class="nav-link" href="{% url 'glasgo:search' %}">Search</a></li>

                <!-- Link to Add Attraction page (or Login page if user is not logged in) -->
                {% if user.is_authenticated %}

                    <li><a class="nav-link" href="{% url 'glasgo:add' %}">Add Attraction</a></li>

                {% elif not user.is_authenticated %}

                    <li><a class="nav-link" href="{% url 'glasgo:add' %}">Add Attraction</a></li>

                {% endif %}
            </ul>

            <!-- Right of Navbar -->
            <div class="navbar-nav ml-auto">
            {% if user.is_authenticated %}

                <!-- If the user is logged in display "Hi User" text, link to Change Password page and Logout button -->

                <span class="navbar-text m-2">Hi {{ user }}</span>
                <a class="btn btn-light btn-sm m-2 pt-2 pb-2" href="{% url 'auth_password_change' %}">Change Password</a>
                <a class="btn btn-light btn-sm m-2 pt-2 pb-2" href="{% url 'auth_logout' %}?next=/glasgo/">Logout</a>

            {% elif not user.is_authenticated %}

                <!-- If the user is not logged in display Login/Register button (links to Login Page) -->

                <a class="btn btn-light btn-sm m-2 pt-2 pb-2" href="{% url 'auth_login' %}">Login/Register</a>

            {% endif %}
            </div>
        </div>
    </nav>
</header>

<!-- Top 10 Attractions Sidebar -->
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-3 d-none d-md-block sidebar">
            <div class="sidebar-sticky">
                <h4 class="mb-2" style="text-align: center">
                    Top 10 Attractions
                </h4>
                {% block top_ten_block %}
                    {% get_top_ten %}
                {% endblock %}
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-9 px-4">
            <!-- Body Block -->
            {% block content %}{% endblock %}
        </main>
    </div>
</div>

<br><br><br><br><br><br><br><br><br>
<div>
    <!-- Footer Block - contains link to About page -->
    {% block footer_block %}
    <footer>
        <a href="{% url 'glasgo:about' %}">About Us</a>
    </footer>
    {% endblock %}
</div>



<!-- Bootstrap JS -->
<script src="{% static 'js/jquery-3.4.1.min.js' %}" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="{% static 'js/jquery.datetimepicker.full.min.js' %}" crossorigin="anonymous"></script>
<script src="{% static 'js/bs-custom-file-input.min.js' %}" crossorigin="anonymous"></script>
<script src="{% static 'js/jquery.validate.min.js' %}" crossorigin="anonymous"></script>
<script src="{% static 'js/glasgo-validate.js' %}" crossorigin="anonymous"></script>
<script src="{% static 'js/glasgo-query.js' %}" crossorigin="anonymous"></script>
<script src="{% static 'js/glasgo-ajax.js' %}" crossorigin="anonymous"></script>

</body>
</html>