<div class="list-group flex-column">
    {% if top_ten %}
        {% for attraction in top_ten %}
            <a class="list-group-item list-group-item-action"
               href="{% url 'glasgo:attraction' attraction.slug %}">
                <div class="row">
                    <div class="col-3">
                        <div class="thumbnail-48">
                            <img src="{{ attraction.image.url }}"
                                 alt="Image of {{ attraction.title }}">
                        </div>
                    </div>
                    <div class="col">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ attraction.title }}</h5>
                            <span>{{ attraction.rating }}</span>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    {% else %}
        <li class="nav-item">No attractions have been added yet!</li>
    {% endif %}
</div>