{% extends "glasgo/base.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block content %}
    <form name="password_change"
          class="form-signin centered-form"
          role="form"
          method="post">
        {% csrf_token %}

        <div class="text-center mb-4">
            <h1 class="h3 mb-3 font-weight-normal">Change Password</h1>
        </div>

        <div class="form-label-group">
            <input type="password"
                   name="old_password"
                   id="old_password"
                   class="form-control"
                   placeholder="Old Password"
                   autocomplete="current-password"
                   required
                   autofocus>
            <label for="old_password">Old Password</label>
        </div>
        <div class="form-label-group">
            <input type="password"
                   name="new_password1"
                   id="new_password1"
                   class="form-control"
                   placeholder="New Password"
                   required>
            <label for="new_password1">New Password</label>
        </div>
        <div class="form-label-group">
            <input type="password"
                   name="new_password2"
                   id="new_password2"
                   class="form-control"
                   placeholder="Repeat New Password"
                   required>
            <label for="new_password2">Repeat New Password</label>
        </div>
        <div class="text-center">
            <button class="btn btn-primary" type="submit" value="Submit">Change Password</button>
        </div>
    </form>
{% endblock %}